<div>
    <h2 id="page-heading">
        <span jhiTranslate="trickPeopleToSaveTheWorldApp.planet.home.title">Planets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-planet" [routerLink]="['/planet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="trickPeopleToSaveTheWorldApp.planet.home.createLabel">
            Create a new Planet
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="planets?.length === 0">
        <span jhiTranslate="trickPeopleToSaveTheWorldApp.planet.home.notFound">No planets found</span>
    </div>
    <div class="table-responsive" *ngIf="planets?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="trickPeopleToSaveTheWorldApp.planet.forestPoints">Forest Points</span></th>
            <th scope="col" ><span jhiTranslate="trickPeopleToSaveTheWorldApp.planet.waterPoints">Water Points</span></th>
            <th scope="col" ><span jhiTranslate="trickPeopleToSaveTheWorldApp.planet.smogPoints">Smog Points</span></th>
            <th scope="col" ><span jhiTranslate="trickPeopleToSaveTheWorldApp.planet.nextBabyAnimal">Next Baby Animal</span></th>
            <th scope="col" ><span jhiTranslate="trickPeopleToSaveTheWorldApp.planet.currentVictimAnimal">Current Victim Animal</span></th>
            <th scope="col" ><span jhiTranslate="trickPeopleToSaveTheWorldApp.planet.achievement">Achievement</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let planet of planets ;trackBy: trackId">
                <td><a [routerLink]="['/planet', planet.id, 'view' ]">{{planet.id}}</a></td>
                <td>{{planet.forestPoints}}</td>
                <td>{{planet.waterPoints}}</td>
                <td>{{planet.smogPoints}}</td>
                <td>
                    <div *ngIf="planet.nextBabyAnimal">
                        <a [routerLink]="['/animal', planet.nextBabyAnimal?.id, 'view' ]" >{{planet.nextBabyAnimal?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planet.currentVictimAnimal">
                        <a [routerLink]="['/animal', planet.currentVictimAnimal?.id, 'view' ]" >{{planet.currentVictimAnimal?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let achievement of planet.achievements; let last = last">
                            <a class="form-control-static" [routerLink]="['/achievement', achievement?.id, 'view' ]">{{achievement.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/planet', planet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/planet', planet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/planet', { outlets: { popup: planet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
